mat-toolbar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
}

.component-content {
  overflow-y: scroll;
  flex: 1;
  padding: 10px 15px;
}

.component-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
