<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
</mat-form-field>

<mat-table matSort [dataSource]="tableDataSource" class="mat-elevation-z8">

  <ng-container *ngFor="let column of tableColumnDefinitions">

    <ng-container [matColumnDef]="column.columnDefinition">

      <mat-header-cell mat-sort-header *matHeaderCellDef style="font-weight: bold; font-size: 12pt;">
        {{ column.columnName }}
      </mat-header-cell>

      <ng-container *ngIf="column.buttons; else cellTemplate;">
        <mat-cell *matCellDef="let row" (click)="$event.stopPropagation();">

          <ng-container *ngFor="let button of column.buttons">
            <ng-container *ngIf="!button.show">
              <ng-container *ngIf="!button.icon; else iconButton;">
                <button mat-raised-button (click)="button.action(row)" [color]="button.color"
                  style="margin-right: 5px;">{{ button.label }}</button>
              </ng-container>
              <ng-template #iconButton>
                <button mat-mini-fab (click)="button.action(row)" [color]="button.color" style="margin-right: 5px;">
                  <mat-icon>{{ button.icon }}</mat-icon>
                </button>
              </ng-template>

            </ng-container>
            <ng-container *ngIf="button.show">

              <ng-container *ngIf="!button.icon; else iconButton;">
                <ng-container *ngIf="button.show(row)">
                  <button mat-raised-button (click)="button.action(row)" [color]="button.color"
                    style="margin-right: 5px;">{{ button.label }}</button>
                </ng-container>
              </ng-container>
              <ng-template #iconButton>
                <ng-container *ngIf="button.show(row)">
                  <button mat-mini-fab (click)="button.action(row)" [color]="button.color" style="margin-right: 5px;">
                    <mat-icon>{{ button.icon }}</mat-icon>
                  </button>
                </ng-container>
              </ng-template>



              <!-- <ng-container *ngIf="button.show(row)">
                <button mat-raised-button (click)="button.action(row)" [color]="button.color"
                  style="margin-right: 5px;">{{ button.label }}554</button>
              </ng-container> -->
            </ng-container>
          </ng-container>

        </mat-cell>
      </ng-container>

      <ng-template #cellTemplate>
        <mat-cell *matCellDef="let row"> {{ column.cell(row) }} </mat-cell>
      </ng-template>

    </ng-container>

  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)" matRipple></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
