<div style="display: flex; flex-direction: column; align-items: center;">

  <h4 style="text-align: center;">Documento {{ selectedClientDocument.Description }}</h4>
  <h5 style="text-align: center;">
    Usuario {{ selectedClientDocument.Client.FirstName + ' ' + selectedClientDocument.Client.LastName }}
  </h5>

  <ng-container *ngIf="supportedFormat(selectedClientDocument.Extension); else notSupported;">
    <ng-container *ngIf="selectedClientDocument.Extension.match('image*');">
      <img style="max-width: 450px;"
        [src]="'data:' + selectedClientDocument.Extension + ';base64,' + selectedClientDocument.FileData">
    </ng-container>
  </ng-container>

  <ng-template #notSupported>
    <span>VISTA PREVIA NO DISPONIBLE</span>
  </ng-template>

</div>
